body p{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 19px;
}
.pagination{
    margin-top: 3%;
}
#contact{
    text-align: center;
}


h2{
    font-family: 'Be Vietnam', sans-serif;
}


#tours{
    margin-top: 160px;
}

.header img{
    height:50px;
}

a:hover{
    text-decoration: none;
    color: pink;
}

#btnHide{
    border-radius: 8px;
    background-color: white;
    border: none;
    padding: 8px 16px;
}



.header a{
    padding: 0 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Be Vietnam', sans-serif;
}

.dropdown{
    width: 100%;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity:0;
    transform: translateY(-10px);
    transition:.3s all;}

.dropdown-menu.show{
    display: block;
    visibility: visible;
    opacity:1;
    transform: translateY(0px);
    transition:.3s all;
}

#head.scrolled {
    background-color: white !important;
    transition: background-color 300ms linear;
}

.header a.scrolled{
    color:black !important;
    transition: color 300ms linear;
}

.header{
    background-color: rgb(0,0,0);
}

.card{
    margin: 20px auto;
}



#rowFoot{
    margin-left: 0px !important;
}

#footer1{
    background-color: #dba093;
    height: 100%;
    width: 100%;
    padding: 50px 0;

}


#footer2{
    background-color: #343a40;
    color: #686868;
    padding:20px 0;
    height: 100%;
}

#line{
    line-height: 35px;
}

.footer{
    align-items: center;
}

.jumbotron{
    margin-top: 91px;
    background-color:rgba(255,255,255,0.9);
    height: 10px;
    padding: 2% 0;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#subTabJumbo{
    margin-top: 4.8%;
    height: 60px;
}

#subTabJumbo a{
    color: black;
}


a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Be Vietnam', sans-serif;
}

@media only screen and (max-width: 1648px) {
    #subTabJumbo {
        margin-top: 93px;
    }
}

@media only screen and (max-width: 1272px) {
    #subTabJumbo {
        margin-top: 130px;
    }
}



@media (min-width: 576px){
    .jumbotron{
        padding: 0 0 !important;
    }
}

@media (max-width: 499px){
    #sub:first-of-type{
        padding-left: 260px;
        white-space: nowrap;
    }
}

@media (max-width: 499px){
    #jumbo{
        overflow-x: scroll;
    }
}

@media (max-width: 499px){
    #jumbo a{
        padding: 0 40px;
    }
}




@media only screen and (max-width: 1024px) {
    #footerMid {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    #ourLoc {
        padding-top: 50px;
    }
}





@media screen and (max-width:1306px){
    #rightNav{
    display:none;
}
}



@media screen and (max-width:1306px){
    #leftNav{
    display:none;
}
}


@media screen and (min-width: 1306px) and (max-width: 1920px) {
    #btnHide{ display: none; 
} 
}
    
    
    
    @media only screen and (max-width: 1024px) {
        .page-header {
            display: none;
        }
    }
    
    
    
    @media screen and (max-width: 1024px) {
        .centered {
            display: none !important;
        }
    }
    
    
    
    @media screen and (max-width: 1024px){
        #logo{
            margin-top:10px;
            margin-bottom: 10px;
        }
    }
    
    @media screen and (max-width: 1024px){
        #featured{
            font-size: 20px;
        }
    }
    
    @media screen and (max-width: 1024px){
        #form1{
            margin-top: 0px;
        }
    }
    
    @media screen and (max-width: 1024px){
        .footer{
            height: 40em;
        }
    }
        
    @media screen and (max-width: 1305px){
        #subTabJumbo{
            margin-top: 130px;
        }
    }
        